/* Reset di base per il body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Push to Listen sopra al bottone */
.push-listen {
  position: relative;
  width: 400px;
  left: 27%;
  
}

/* Contenitore principale per il video e il pulsante play */
.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.video-area {
  max-width: 600px;
  margin-right: 20px; /* Distanza tra il video e il pulsante play */
}

.video-area video {
  width: 100%;
  position: relative;
  right: 100px;
  bottom: 150px;
  /* Adatta il video senza deformarlo */
}

.play-button-container img {
  width: 200px; /* Puoi regolare la dimensione del tasto */
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  bottom: 95px; /* Posiziona il pulsante sopra il video */
}

.play-button-container img:hover {
  transform: scale(1.1);
}

/* Aggiungere l'effetto glow al pulsante play */
.glow {
  box-shadow: 0 0 20px 5px red; 
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out;
}

/* Aggiungere l'effetto glow al pulsante play quando si passa il mouse */
.play-button-container img:hover.glow {
  box-shadow: 0 0 30px 10px red;
}


.banner {
  position: relative;
  width: 98%;
  height: auto;
  margin-top: 0px;
  margin-top: -180px; 
}

.banner-image {
  width: 100%;
  height: auto;
  margin-top: 0px;
  position: relative;
  
}

.container-sponsors {
  display: flex;
  justify-content: space-between;
  height: 102px;
 
  width: 90%;
  margin-left: 5%;
}


.restaurant-sponsor,
.microphone-logo2 {

  width: 15%; 
  height: 50%;
}

.microphone-logo2 {
  width: 15%;
  height: 90%;
  margin-top: 0px;
  position: relative;
  bottom: 15px;
  
}
.restaurant-sponsor{
  width: 14%;
  height: 70%;
}




