body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .partners {
    display: flex;
    justify-content: space-between;
  
  }
  
  .partners img {
    width: 250px;
    height: 75px
  }
  
  .video-area {
    max-width: 600px;
    margin: 0 auto;
  }
  
  video {
    width: 110%;
    margin-top: -59%;
    margin-bottom: 10%;
    margin-left: -5%;

  }
  
  .banner {
    margin-top: 20px;
    width: 100%;
  }
  
  .push-listen {
    margin-top: -30px;
    width: 400px;
  }
  
  .play-button-container {
    margin: 20px;
  }
  
  .play-button-container img {
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -50px;
  }
  
  .play-button-container img:hover {
    transform: scale(1.1);
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    margin-top: -25%;
  }
  
  .menu img {
    width: 200px;
  }
  
  .glow {
    box-shadow: 0 0 20px 5px red;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
  }

  .Windows
  {
    display: flex;
    justify-content: space-between;
    
  }

  .Q
  {
    border: solid red 2px;
    width: 240px;
    height: 330px;
    border-radius: 5%
  }